<div class="max-w-full max-h-full relative overflow-hidden shadow-lg">
    <div class="flex duration-700 ease-in-out h-full"
            [ngClass]="checkPosition()?'transition-none':'transition-transform'"
         [ngStyle]="{ transform: 'translateX(-' + currentOffset + '%)' }"
       (transitionend)="onTransitionEnd()">

        <div class="min-w-full bg-white ">
            <img [src]="images[images.length - 1]" class="w-full object-contain" />
        </div>
        
        <!-- Real images -->
        <div *ngFor="let image of images" class="min-w-full bg-white  ">
            <img [src]="image" class=" object-contain" />
        </div>
        
        <!-- Clone first image (for smooth forward-to-start loop) -->
        <div class="min-w-full bg-white ">
            <img [src]="images[0]" class=" object-contain" />
        </div>
    </div>

    <!-- Navigation Buttons -->
    @if(images.length>1){
    <button (click)="prev()"
        class="absolute top-1/2 left-2 -translate-y-1/2 bg-white/70 hover:bg-white p-2 rounded-full shadow-xl">
        
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
        <path fill-rule="evenodd"
            d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z"
            clip-rule="evenodd" />
    </svg>


    </button>
    <button (click)="next()"
        class="absolute top-1/2 right-2 -translate-y-1/2 bg-white/70 hover:bg-white p-2 rounded-full shadow-xl">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
        <path fill-rule="evenodd"
            d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
            clip-rule="evenodd" />
    </svg>

    </button>   
    }
</div>