<div class="relative min-h-screen w-screen pt-14 bg-slate-800">
    <div class="w-10/12 md:w-11/12 lg:w-10/12 max-w-screen-lg min-h-96 bg-white rounded-xl mx-auto  shadow-lg flex overflow-hidden max-md:flex max-md:flex-col">
        <div class="md:w-7/12 p-6 max-md:order-2">
            <p class="text-xl font-bold mb-2 tracking-wide">Fill the Form*</p>

            
            <form class="grid md:grid-cols-2 gap-x-5 gap-y-4" action="#">


            <div><label class="label" for="name">Name *</label>
            <input id="name" type="text" placeholder="Enter your Name" class="input"></div>

            
            <div><label class="label" for="phone">Phone </label>
            <input id="phone" type="text" placeholder="+216 52 231 995 " class="input"></div>


            <div><label class="label" for="Email">Email *</label>
            <input id="Email" type="email" placeholder="yourEmail@gmail.com" class="input"></div>

            <div><label class="label" for="Subject">Subject </label>
            <input id="Subject" type="text" placeholder="Enter your Subject" class="input"></div>
            
            <div class="col-span-2">

            <div>
            <label class="label" for="Message">Message *</label>
            <textarea id="Message" placeholder="Enter your Message" class="input h-36"></textarea></div>

            </div>
            <input type="submit">
            </form>
        </div>
        <div class="w-full min-h-96 md:w-5/12 bg-blue-400 order-1">
        </div>
    </div>
</div>