
<div class="pt-24 bg-slate-200 min-h-screen pb-12 px-4 sm:px-8 xl:px-16">


<div class="w-full grid sm:grid-cols-2  gap-5">
            <div *ngFor="let project of projects">
                <app-project-card [project]="project" 
                (click)="openProjectModal(project)"></app-project-card>
            </div>
</div>

@if(isModalOpen)
{
    <app-project-modal 
    [project]="openProject" 
    (emitExit)="closeProjectModal()"
    (emitLink)="openLink()">
    </app-project-modal>
}


</div>
