<div class="flex flex-col items-center bg-slate-100 min-h-screen">
    <p class="text-xs md:text-sm text-slate-600 mt-28">Explore My</p>
    <h1 class="font-semibold font-sans tracking-tighter text-red-900 text-3xl md:text-4xl lg:text-5xl p-2 mb-6">Experience</h1>
    <div class="w-full">
        <div class="flex max-md:flex-col max-md:items-center justify-center w-full gap-5 xl:gap-16 px-8 mb-16 mt-2 md:mt-10">
            <div class="border rounded-2xl text-center w-full bg-white sm:max-md:w-5/6 xl:ml-16">
                <h2 class="font-bold p-5 text-lg font-sans ">Frontend Development</h2>
                <div class="grid grid-cols-2 border-t gap-1 p-4 xl:p-6 gap-y-6 xl:gap-y-8">
                    <div class="article">
                        <img src="./assets/checkmark.png" alt="Experience icon" class="w-6 bottom-1 relative" />
                        <div>
                            <h3>HTML</h3>
                            <p class="text-xs text-gray-700 w-20">Experienced</p>
                        </div>
                    </div>
                    <div class="article">
                        <img src="./assets/checkmark.png" alt="Experience icon" class="w-6 bottom-1 relative" />
                        <div>
                            <h3>CSS</h3>
                            <p class="text-xs text-slate-700 w-20">Experienced</p>
                        </div>
                    </div>
                
                    <div class="article">
                        <img src="./assets/checkmark.png" alt="Experience icon" class="w-6 bottom-1 relative" />
                        <div>
                            <h3>Tailwind</h3>
                            <p class="text-xs text-gray-700 w-20">Intermediate</p>
                        </div>
                    </div>
                    <div class="article">
                        <img src="./assets/checkmark.png" alt="Experience icon" class="w-6 bottom-1 relative" />
                        <div>
                            <h3>JavaScript</h3>
                            <p class="text-xs text-gray-700 w-20">Intermediate</p>
                        </div>
                    </div>
                    <div class="article">
                        <img src="./assets/checkmark.png" alt="Experience icon" class="w-6 bottom-1 relative" />
                        <div>
                            <h3>TypeScript</h3>
                            <p class="text-xs text-gray-700 w-20">Intermediate</p>
                        </div>
                    </div>
                    <div class="article">
                        <img src="./assets/checkmark.png" alt="Experience icon" class="w-6 bottom-1 relative" />
                        <div>
                            <h3>Angular</h3>
                            <p class="text-xs text-gray-700 w-20">Intermediate</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border rounded-2xl text-center w-full bg-white sm:max-md:w-5/6 xl:mr-16">
                <h2 class="font-bold p-5 text-lg font-sans">Backend Development</h2>
                <div class="grid grid-cols-2 border-t gap-1 p-4 gap-y-6 ">

                    <div class="article">
                        <img src="./assets/checkmark.png" alt="Experience icon" class="w-6 bottom-1 relative" />
                        <div>
                            <h3>Node JS</h3>
                            <p class="text-xs text-gray-700 w-20">Basic</p>
                        </div>
                    </div>
                    <div class="article">
                        <img src="./assets/checkmark.png" alt="Experience icon" class="w-6 bottom-1 relative" />
                        <div>
                            <h3>Nest JS</h3>
                            <p class="text-xs text-gray-700 w-20">Intermediate</p>
                        </div>
                    </div>
                    
                    <div class="article">
                        <img src="./assets/checkmark.png" alt="Experience icon" class="w-6 bottom-1 relative" />
                        <div>
                            <h3>Java EE</h3>
                            <p class="text-xs w-20 text-slate-700">Intermediate</p>
                        </div>
                    </div>
                    <div class="article">
                        <img src="./assets/checkmark.png" alt="Experience icon" class="w-6 bottom-1 relative" />
                        <div>
                            <h3>Python</h3>
                            <p class="text-xs text-slate-700 w-20">Intermediate</p>
                        </div>
                    </div>
                    <div class="article">
                        <img src="./assets/checkmark.png" alt="Experience icon" class="w-6 bottom-1 relative" />
                        <div class="max-w-20 overflow-visible">
                            <h3>PostgreSQL</h3>
                            <p class="text-xs text-gray-700 w-20 ">Intermediate</p>
                        </div>
                    </div>
                    <div class="article">
                        <img src="./assets/checkmark.png" alt="Experience icon" class="w-6 bottom-1 relative" />
                        <div>
                            <h3>Git</h3>
                            <p class="text-xs text-gray-700 w-20"> Basic</p>
                        </div>
                    </div>
               
                </div>
            </div>
        </div>
    </div>

</div>
